<nav class="top-nav">
  <div class="nav-left">
    <img
      src="{{ url_for('static', filename='images/logo.png') }}"
      alt="Logo"
      class="logo"
    />
    <span class="app-name">GLOWLY</span>
    <div class="notification">
      <img
        src="{{ url_for('static', filename='images/bell.png') }}"
        alt="Notification"
        class="bell-icon"
      />
      <a href="/pengingat" style="text-decoration:none;color:black;"">Pengingat</a>
    </div>
  </div>
  <div class="nav-right">
    <span class="user-label">Pengguna</span>
    <span class="username">{{ current_user.username }}</span>
    <img
      src="{{ url_for('static', filename='images/user.png') }}"
      alt="User"
      class="user-icon"
    />
  </div>
</nav>
