body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #f8bbd0;
    width: 20%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
    font-size: 20px;
    text-align: center;
    color: #333;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.sidebar ul li {
    margin: 15px 0;
    font-weight: bold;
}

.copyright {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
    color: #777;
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    background-color: #fff;
    border-left: 2px solid #f8bbd0;
}

.header {
    margin-bottom: 30px;
}

.table .row {
    display: flex;
    margin-bottom: 15px;
}

.table input {
    width: 45%;
    padding: 8px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-btn {
    background-color: #f48fb1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.edit-btn:hover {
    background-color: #ec407a;
}
