<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skincare Reminder - Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin/home_admin.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include "components/topnav_admin.html" %}

    <div class="container">
      {% include "components/sidebar_admin.html" %}

      <main class="main-content">
        <div class="logo-container">
          <img
            src="{{ url_for('static', filename='images/main-logo.png') }}"
            alt="Skincare Reminder"
            class="main-logo"
          />
        </div>
      </main>
    </div>
  </body>
</html>
