<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skincare Reminder</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar">
        <div>
          <h2>User</h2>
          <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="rekomendasi.html">Rekomendasi</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">Timeline</a></li>
            <li><a href="#">Profil</a></li>
          </ul>
        </div>
        <button class="logout">Logout</button>
      </aside>

      <!-- Main Content -->
      <main class="content">
        <header>
          <h1>Skincare Reminder</h1>
          <div class="notification">
            <span>Pengingat</span>
            <img
              src="{{ url_for('static', filename='images/user-icon.png') }}"
              alt="User Icon"
            />
          </div>
        </header>
        <section class="logo">
          <img
            src="{{ url_for('static', filename='images/skincare-logo.png') }}"
            alt="Skincare Reminder Logo"
          />
        </section>
      </main>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
