<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skincare Reminder</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Skincare Reminder Logo"
        />
      </div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Rekomendasi</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Timeline</a></li>
          <li><a href="#">Profil</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Welcome to Skincare Reminder</h1>
      <p>Keep track of your skincare routine effortlessly!</p>
    </main>

    <footer>
      <p>&copy; 2024 Skincare Reminder. All rights reserved.</p>
    </footer>
  </body>
</html>
