<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skincare Reminder</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_profile.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <h1>SKINCARE REMINDER</h1>
        <ul>
          <li>HOME</li>
          <li>PROFILE</li>
          <li>REKOMENDASI</li>
          <li>FEEDBACK</li>
        </ul>
        <p class="copyright">COPYRIGHT</p>
      </div>
      <div class="main-content">
        <div class="header">
          <h2>Admin</h2>
          <p>Admin</p>
        </div>
        <div class="table">
          <div class="row">
            <input type="text" placeholder="Username" value="Admin sarah" />
            <input type="password" placeholder="Password" value="********" />
          </div>
          <div class="row">
            <input type="text" placeholder="Username" value="Admin qila" />
            <input type="password" placeholder="Password" value="********" />
          </div>
          <div class="row">
            <input type="text" placeholder="Username" />
            <input type="password" placeholder="Password" />
          </div>
          <button class="edit-btn">Edit</button>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
