<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rekomendasi</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/rekomendasicss') }}"
    />
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar">
        <div>
          <h2>User</h2>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="#" class="active">Rekomendasi</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">Timeline</a></li>
            <li><a href="#">Profil</a></li>
          </ul>
        </div>
        <button class="logout">Logout</button>
      </aside>

      <!-- Main Content -->
      <main class="content">
        <header>
          <h1>Skincare Reminder</h1>
          <div class="notification">
            <span>Pengingat</span>
            <img
              src="{{ url_for('static', filename='images/user-icon.png') }}"
              alt="User Icon"
            />
          </div>
        </header>
        <section class="recommendation">
          <div class="card">
            <h2>Pilih Jenis Kulitmu</h2>
            <ul>
              <li><button>Kering</button></li>
              <li><button>Normal</button></li>
              <li><button>Kombinasi</button></li>
              <li><button>Berjerawat</button></li>
              <li><button>Berminyak</button></li>
            </ul>
          </div>
        </section>
      </main>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
