<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skincare Reminder - Linimasa</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/timeline.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include "components/topnav.html" %}

    <div class="container">
      {% include "components/sidebar.html" %}

      <main class="main-content">
        <div class="timeline-container">
          <h2>LINIMASA</h2>
          <div class="timeline-grid">
            {% if timelines %}
            {% for timeline in timelines %}
              <div class="timeline-card">
                <div class="image-container">
                  <img src="{{ url_for('static', filename='timeline/' + timeline.image_url) }}" alt="Timeline Image" />
                </div>
                <div class="date">{{ timeline.date.strftime('%d-%m-%Y') }}</div>
              </div>
            {% endfor %}
            {% endif %}
          </div>

          <button class="add-image-btn" onclick="openInputForm('{{ day }}')">
            Tambah Gambar
          </button>
        </div>
      </main>
    </div>
    <div id="inputFormOverlay" class="overlay">
      <div class="input-form">
        <h2>Tambah Linimasa</h2>
        <form method="post" action="/timeline" enctype="multipart/form-data">
          <label for="image">Gambar:</label>
          <input type="file" id="image" name="file" accept="image/*" required />

          <button type="submit">Simpan</button>
          <button type="button" onclick="closeInputForm()">Batal</button>
        </form>
      </div>
    </div>
    <script>
    function closeInputForm() {
      document.getElementById("inputFormOverlay").style.display = "none";
    }
      function openInputForm() {
        document.getElementById("inputFormOverlay").style.display = "flex";
      }
    </script>
  </body>
</html>
